---
import "../styles/global.css";
// Component Imports
import Layout from "@/layouts/main.astro";
import Header from "@/layouts/header.astro";
import HeroSection from "@/components/HeroSection.astro";
import FrontendBadge from "@/components/FrontendBadge.astro";
import BackendBadge from "@/components/BackendBadge.astro";
import HerramientasBadge from "@/components/HerramientasBadge.astro";
import ThreeModelWrapper from "@/components/ThreeModelWrapper.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import ExperienceSection from "@/components/ExperienceSection.astro";
import Info from "@/layouts/info.astro";
import { BookCheck, Code } from "lucide-react";
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<Layout title="Home">
		<Header />
		<div
			class="min-h-screen px-4 py-8 bg-background dark:bg-background bg-gradient-to-b bg-blur-sm from-white via-[#269ece27] to-white dark:bg-gradient-to-r dark:from-gray-900 dark:via-gray-800 dark:to-gray-900 relative overflow-hidden"
		>
			<main
				class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center mb-24"
			>
				<HeroSection />
				<ThreeModelWrapper />
			</main>
			<section class="select-none mb-16 relative ">
				<div class="absolute inset-0 bg-radial from-primary/30 from-50% to-primary/10 opacity-40 blur-2xl"></div>
				<div
					class="flex flex-row items-center justify-center p-1 gap-2 text-5xl font-bold mb-3 select-none relative"
				>
					<BookCheck
						size={32}
						className="text-primary flex items-center justify-center  "
					/>
					<h1>Mi</h1>
					<span
						class="bg-gradient-to-r from-primary to-[#2BAE66] text-transparent bg-clip-text"
					>
						Stack</span
					>
				</div>
				<div
					class="flex items-center justify-center p-1 gap-2 dark:text-gray-300 text-gray-500 mb-6 select-none relative"
				>
					Las tecnologías que uso en mis proyectos
				</div>
				<div
					class="grid grid-cols-1 md:grid-cols-3 gap-3 max-w-6xl mx-auto relative p-4 rounded-xl overflow-hidden"
				>
					<!-- Fondo rojo difuminado -->
					
					<!-- Card Frontend -->
					<FrontendBadge class="relative z-10" />
					<!-- Card Backend -->
					<BackendBadge class="relative z-10" />
					<!-- Card Herramientas -->
					<HerramientasBadge class="relative z-10" />
				</div>
			</section>
			<section
				id="proyectos"
				class="container mx-auto select-none relative"
			>
				<div
					class="absolute inset-0  pointer-events-none"
				>
				</div>
				<div
					class="flex flex-row items-center justify-start gap-2 text-4xl font-bold mb-3 select-none mx-auto"
				>
					<Code
						size={32}
						className="text-primary flex items-center justify-center mt-1 "
					/>
					<span>Mis</span>
					<h5 class="text-primary">Proyectos</h5>
				</div>
				<div class="mb-3">
					<p
						class="dark:text-gray-300 text-gray-500 flex items-between justify-start mx-auto mb-6"
					>
						Me gusta convertir ideas en aplicaciones útiles
					</p>
				</div>
				<div
					class="grid grid-cols-1 md:grid-cols-4 gap-8 container mx-auto relative p-4 rounded-xl overflow-hidden"
				>
					<ProjectCard
						title="RutaWallet"
						description="Aplicación móvil para gestionar el presupuesto de transporte público en Puebla."
						imageSrc="/RutaWallet.png"
						imageAlt="Three.js"
						imageWidth={48}
						imageHeight={48}
						imageClass="w-12 h-12"
						badges={["Flutter", "Supabase", "MapLibre", "GetX"]}
					/>
					<ProjectCard
						title="OtraDimensión"
						description="(Hackathon) Aplicación web para subir imágenes en un mapa y representar un evento."
						imageSrc="/OtraDimLanding.png"
						imageAlt="Three.js"
						imageWidth={48}
						imageHeight={48}
						imageClass="w-12 h-12"
						badges={[
							"Angular",
							"Firebase",
							"Mapbox",
							"Cloudinary",
							"Netlify",
						]}
					/>
					<ProjectCard
						url="/projects/sistema-reclutamiento"
						title="Sistema de Reclutamiento Interno"
						description="Plataforma web para gestionar el proceso de reclutamiento interno de una empresa."
						imageSrc="/ERP.png"
						imageAlt="Supabase"
						imageWidth={24}
						imageHeight={24}
						imageClass="w-6 h-6"
						badges={[
							"Supabase",
							"Vue.js",
							"Tailwind",
							"Vercel",
							"Shadcn Vue",
							"Pinia",
						]}
					/>
					<ProjectCard
						url="/projects/punto-venta"
						title="Punto de Venta (POS)"
						description="Aplicación de escritorio que se conecta con API de brazo robótico para vender cafés."
						imageSrc="/POS.png"
						imageAlt="Gestión de Inventario"
						badges={[
							"Angular",
							"Tauiri",
							"Flask",
							"Supabase",
							"Asp.net",
						]}
					/>
					<ProjectCard
						url="/projects/erp-inventario"
						title="ERP de Gestión de Inventario de Herramientas"
						description="Aplicación de escritorio que permite gestionar el inventario de herramientas de una empresa."
						imageSrc="/ERPPython.png"
						imageAlt="Three.js"
						imageWidth={48}
						imageHeight={48}
						imageClass="w-12 h-12"
						badges={["Python", "PostgreSQL"]}
					/>
				</div>
			</section>
			<section id="experiencia">
				<ExperienceSection />
			</section>
		</div>
	</Layout>
	<Info />
</html>
