---
import "../styles/global.css";
// Component Imports
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/main.astro";
import Header from "@/layouts/header.astro";
import HeroSection from "@/components/HeroSection.astro";
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<Layout title="Home">
		<div class="min-h-screen px-4 py-8">
			<Header />
			<main
				class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center"
			>
				<HeroSection />

				<div class="relative">
					
				</div>
			</main>

			<footer class="container mx-auto text-center mt-32">
				<p class="text-gray-600 mb-4">It is necessary to observe.</p>
				<h2 class="text-4xl font-bold">Treated like a portrait.</h2>
			</footer>
		</div>
	</Layout>
</html>
