---
import {Button} from "@/components/ui/button";
---

<div>
    <p class="text-gray-600 mb-4">
        Hola, bienvenido a mi portafolio.
    </p>
    <h1 class="text-5xl font-bold mb-6">Software Developer</h1>
    <p class="text-gray-700 mb-8">
        Soy un desarrollador con experiencia en la creación de
        aplicaciones web y de escritorio.
    </p>
    <div class="flex gap-4">
        <Button
            variant="outline"
            size="lg"
            className="px-6 py-3"
            ><span class="text-lg font-semibold">
                Descarga mi CV
            </span></Button
        >
        <Button
            variant="default"
            size="lg"
            className="px-6 py-3 shadow-lg hover:shadow-xl transition-shadow shadow-primary/30"
            ><span class="text-lg font-bold">
                Pongamonos en Contacto
            </span></Button
        >
    </div>
</div>