---
import { Button } from "@/components/ui/button";
import { Github, Linkedin, Mail } from "lucide-react";
import { Image } from "astro:assets";
---

<nav class="w-full border-b border-gray-200 dark:border-gray-800 ">
  <div class="container mx-auto flex justify-between items-center px-4 py-4">
    <div class="flex items-center justify-center gap-2">
        <span class="text-xl font-bold">Carlos Jiménez</span>
        <!-- <Image src="/WCode.svg" alt="Logo" width={24} height={24} /> -->
    </div>
    <div class="flex gap-8">
        <a href="#" class="hover:text-primary">🚀 Mis proyectos</a>
        <a href="#" class="hover:text-primary">💼 Mi experiencia</a>
    </div>
    <div class="flex gap-2">
        <a
            href="https://github.com/CarlosJimeEnez"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Perfil de GitHub de José Carlos"
        >
            <Button variant="ghost" size="lg" className="p-5 hover:text-primary"
                ><Github size={48} /></Button
            >
        </a>
        <a
            href="https://www.linkedin.com/in/jos%C3%A9-carlos-jim%C3%A9nez-pe%C3%B1a/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Perfil de LinkedIn de José Carlos"
        >
            <Button variant="ghost" size="lg" className="p-5 hover:text-primary"
                ><Linkedin size={48} /></Button
            >
        </a>
        <a
            href="mailto:jc.jimenez.pena@outlook.com"
            aria-label="Email"
            class="hover:text-primary"
        >
            <Button variant="ghost" size="lg" className="p-5 hover:text-primary"
                ><Mail size={48} /></Button
            >
        </a>
        <a
            href="https://wa.me/5213312655666"
            aria-label="WhatsApp"
            class="hover:text-primary"
        >
        </a>
    </div>
  </div>
</nav>
<slot />
