<nav class="container mx-auto flex justify-between items-center mb-16">
    <div class="flex items-center gap-2">
        <span class="text-primary text-3xl"></span>
        <span class="text-xl font-bold">JoaquinSorolla</span>
    </div>
    <div class="flex gap-8">
        <a href="#" class="hover:text-primary">Home</a>
        <a href="#" class="hover:text-primary">What I do</a>
        <a href="#" class="hover:text-primary">My work</a>
    </div>
</nav>
<slot />

